
from tortoise import Tortoise

async def init_db(app):
    await Tortoise.init(
        db_url="sqlite://./test.db",
        modules={"models": ["app.models"]}
    )
    await Tortoise.generate_schemas()
    # Here we will init fastapi-admin

TORTOISE_ORM = {
    "connections": {"default": "sqlite://./test.db"},
    "apps": {
        "models": {
            "models": ["app.models", "aerich.models"],
            "default_connection": "default",
        },
    },
}
